

.header__main {
    padding: .5rem 1rem;
    background: #006401;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: start; */
}

.nav__title {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

 .active {
    font-weight: 700 !important;
}

@keyframes title {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

.nav__title:hover {
    color: white;
    animation: title .2s;
    transform: scale(.9);
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: .5rem 1rem;
}

    .nav__item > a, .nav__item span {
        text-decoration: none;
        color: #fff;
    }

        .nav__item a  svg, .nav__item span svg {
            display: block;
            width: 24px;
            height: 24px;
            margin: auto;
        }

        .nav__item > a:hover {
            color: white;
            opacity: .7;
        }



.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    margin-top: 2rem;
}

    .dropdown-content a {
        background: #006401;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: 500;
    }

        .dropdown-content a:hover {
            opacity: .8;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    opacity: 1;
}

footer {
    color: #fff;
    background: #45526e;
}

.footer__col a {
    color: #fff;
}

.footer__col {
    margin: 16px auto 0rem !important;
}

    .footer__col h6 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .footer__col a:hover {
        /* text-decoration: none; */
        color: #fff;
    }



@media screen and (max-width: 992px) {
    .navigation {
        justify-content: center;
    }

    .nav__title {
        margin: 0.5rem;
    }

    .nav__links {
        margin: 0.5rem unset;
    }

    footer {
        text-align: center;
    }

}

.home__panel {
    position: relative;
    margin-bottom: 1rem;
}

.home__bg {
    background: rgb(200, 200, 200);
    height: calc(100vh - 30rem);
    max-height: 57rem;
    min-height: 42rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

    .home__bg img {
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

.home__content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

    .home__content h1 {
        color: white;
        font-size: 5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .home__content p {
        color: white;
        margin-top: 2rem;
        font-size: 3rem;
        text-align: center;
        font-family: sans-serif;
    }

.search__container {
    border-width: 0;
    font-size: 1.2rem;
    margin-top: 2rem;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search__box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: rgb(28 28 28 / 8%) 0 2px 8px;
    border: 1 solid rgb(232, 232, 232);
    padding: 1rem 0;
}

.search__option {
    display: flex;
    justify-content: space-around;
    height: 100%;
    border-radius: .8rem;
    padding: 0 2rem;
    align-items: center;
}

    .search__option input {
        border: none;
        outline: none;
        margin-left: 0.5rem;
    }

.search__divider {
    width: 0rem;
    height: 2rem;
    margin-right: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
}

.search__text {
    border-radius: 0.8rem;
    width: 53%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

    .search__text input {
        width: 100%;
        padding: 0 2rem 0 0.5rem;
        border: none;
        outline: none;
    }

.search_v_divider {
    width: 80%;
    margin: 0;
    display: none;
}

.card_home {
    margin-bottom: 1rem;
    width: 18rem;
}

    .card_home:hover {
        box-shadow: 0 0 6px rgba(35, 173, 278, 1);
    }

    .card_home image {
        object-fit: contain;
        width: 100%;
    }

.card__repeater {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.login__main {
    display: flex;
    padding: 1rem 0;
}

.slide__panel {
    margin-left: 1rem;
}

.form__panel {
    padding: 1rem;
    margin: 0 1rem;
    background: linear-gradient(to right,red, orange);
    color: white;
    border-radius: 5px;
}

    .form__panel form div {
        margin-bottom: 1rem;
    }

    .form__panel button, .form__panel input {
        border-radius: 0;
    }

.admin_login_main {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_login_panel {
    width: 25%;
    min-width: 300px;
    border: 1px solid #aaa;
    padding: 1rem;
}

    .admin_login_panel input {
        border-radius: 0;
    }

    .admin_login_panel h3 {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .admin_login_panel .button {
        width: 100%;
        background: #0bb060;
        color: white;
        border-radius: 0;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
    }

        .admin_login_panel .button:hover {
            opacity: 0.8;
        }

.admin_dash_main {
    display: flex;
}

.side_bar_panel {
    background: #333;
    padding: 0.5rem;
    /* border-radius: 5px;
    margin: .5rem; */
}

    .side_bar_panel li {
        margin-bottom: 0.2rem;
    }

        .side_bar_panel li a {
            padding: 1rem;
            text-decoration: none;
            display: flex;
            text-align: center;
            align-items: center;
            color: #fff;
        }

            .side_bar_panel li a svg {
                font-size: 1.5rem;
            }

            .side_bar_panel li a label {
                margin-left: .5rem;
            }

        .side_bar_panel li:hover {
            background: rgba(256, 256, 256, 0.5);
            border-radius: 28px;
        }

        .side_bar_panel li a:hover {
            color: white;
        }

.admin_dash_panel {
    width: 100%;
    max-width: inherit;
}

.link__active {
    background: #fff;
    color: #000 !important;
    border-radius: 28px;
}

.catalog__main {
    padding: 1rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: rgb(0 0 0 / 25%);
}

.filter__panel {
    margin-right: 1rem;
    width: 18rem;
    min-width: 13.5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    height: min-content;
}

.filter__title {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}


    .filter__title h3 {
        margin: 0 auto 0 .5rem;
        font-size: 1rem;
        font-weight: 600;
    }

@keyframes filterDisplay {
    from {
        width: auto
    }

    to {
        width: 0
    }
}

.rotate {
    transform: rotate(180deg);
}

.not__visible {
    animation-name: filterDisplay;
    animation-timing-function: ease-in-out;
    display: none;
}

.filter__content {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    animation-duration: 0.5s;
}

.filter__content-title {
    display: block;
    width: 100%;
    font-weight: 500;
}

.filter__content-options {
    display: flex;
}

    .filter__content-options span {
        margin-right: auto;
    }

.filter__content-title h3 {
    font-size: 1rem;
    margin: 0.5rem auto 0.5rem 0;
}

.filter__content-range {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.5rem 0;
}

    .filter__content-range select {
        padding: 2px 4px;
        margin-left: 0;
    }

.catalog__panel {
    width: 100%;
    background: white;
    border-radius: 5px !important;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}

.catalog__sort {
    display: flex;
    border-radius: 5px 5px 0 0;
    background-color: hsl(105, 54%, 46%);
}

.catalog__sort div {
        padding: 0.5rem 2rem;
        color: white;
        cursor: pointer;
}

.catalog__sort div:hover {
    background-color: hsl(105, 54%, 60%);
}

.catalog__repeater {
    background: #ddd;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
}

.cate_form_panel {
    padding: 1rem;
    min-width: 300px;
    margin: 1rem auto 0 auto;
    width: 30%;
    border: 1px solid #ccc;
}

.cate__main .button {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    font-weight: 600;
}

    .cate__main button:hover {
        opacity: 0.8;
    }

.cate_form_panel .form {
    margin: 0;
}

    .cate_form_panel .form h3 {
        text-align: center;
        font-weight: 700;
    }

    .cate_form_panel .form input {
        border-radius: 0;
    }

.add_category {
    width: 100%;
    background: #0aad2d;
    color: white;
}

.delete_btn {
    background: #ee0000;
    color: white;
    margin-right: 0.5rem;
}

.update_btn {
    background: #fd0;
    color: white;
}

.cate_table_panel {
    margin: 1.5rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
}

    .cate_table_panel h3 {
        text-align: center;
        font-weight: 700;
    }

.admin_prod_main {
    padding: 1rem;
}

    .admin_prod_main button {
        border: none;
        outline: none;
        padding: 0.3rem 1rem;
        font-weight: 600;
    }

        .admin_prod_main button:hover {
            opacity: 0.8;
        }

.prod_form_panel {
    /*width: 40%;*/
    padding: 1rem;
    border: 1px solid #ccc;
    width: 70%;
    margin: 0 auto;
}

    .prod_form_panel form h3 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .prod_form_panel input {
        border-radius: 0;
    }

    .prod_form_panel_button {
        width: 100%;
        background: #0aad2d;
        color: white;
    }

.prod_table_panel {
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

    .prod_table_panel h3 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

.thumb-wrapper {
    padding: 15px 25px;
    width: 15rem;
    min-width: 15rem;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    margin: 0.5rem 0.5rem;
}

.wish-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    font-size: 1.4rem;
    color: #abb0b8;
}

.img-box {
    margin-bottom: 1.5rem;
    width: 100%;
}

    .img-box img {
        height: 12rem;
        width: 100%;
        object-fit: contain;
        background: rgb(0 0 0 / 5%);
    }

.thumb-content h4 {
    font-size: 18px;
}

.thumb-content h4, .thumb-content p, .thumb-content ul {
    margin-bottom: 5px;
}

.thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

    .thumb-content .btn:hover, .thumb-content .btn:active {
        color: #fff;
        background: #7ac400;
        box-shadow: none;
        border: 1px solid #7ac400;
    }

.item-price {
    font-size: 13px;
    padding: 2px 0;
}

    .item-price strike {
        opacity: 0.7;
        margin-right: 5px;
    }

.small_img_group {
    display: flex;
    justify-content: space-between;
}

.small_img_col {
    margin-top: 0.25rem;
    flex-basis: 24%;
}

.small_img {
    width: 100%;
    object-fit: contain;
}

.single__product select {
    display: block;
    padding: 5px 10px;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid black;
    outline: 1px solid black;
}

.single__product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px 1rem 0;
    border: 1px solid black;
    outline: 1px solid black;
}

.buy__btn {
    padding: 0.6rem 2rem;
    border: none;
    outline: none;
    background: orange;
    color: white;
    font-weight: 600;
}

    .buy__btn:hover {
        opacity: 0.7;
        color: white;
    }

.product__desc h3 {
    font-weight: 700;
}

.product__desc h6 {
    color: #777;
    letter-spacing: 0.02rem;
}

.product__desc h2 {
    font-size: 1.5rem;
    color: #00aa00;
}

    .product__desc h2 strike {
        color: #ff6666;
    }

.product__repeater {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
}

.product__desc span {
    text-align: justify;
    text-justify: inter-word;
}

.linkbtn:hover {
    color: blue !important;
}

@media only screen and (max-width: 769px) {
    .form__panel {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        border-radius: 0;
    }

    .slide__panel {
        width: 100%;
        margin: 0;
    }

    .login__main {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .search__option {
        padding: 0 1rem;
    }


    .search__divider {
        margin-right: 1rem;
    }

    .search__text input {
        padding: 0 1rem 0 0.5rem;
    }

    .prod_form_panel {
        width: 90%;
        min-width: none;
    }

    .product__desc {
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .search__box {
        flex-direction: column;
    }

    .search__option input {
        width: 70%;
    }

    .search__text {
        width: 100%;
        padding: 1rem;
    }

    .search__divider {
        display: none;
    }

        .search__divider .search__text input {
            box-sizing: border-box;
            padding: 0 1rem;
        }

    .home__content h1 {
        font-size: 3rem;
    }

    .home__content p {
        font-size: 2rem;
    }

    .search_v_divider {
        display: block;
        margin-top: 1rem;
    }

    .side_bar_panel li a label {
        display: none;
    }

    .catalog__main {
        flex-direction: column;
    }

    .catalog__panel {
        margin-top: 1rem;
    }

    .filter__panel {
        width: 100%;
    }

    .catalog__sort {
        flex-direction: column;
    }

        .catalog__sort div:first-of-type {
            border-radius: 5px 5px 0 0;
        }

    .prod_form_panel {
        /*width: 100%;*/
        min-width: none;
    }

}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
